<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Management</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body class="bg-secondary">
    <nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">🚗✞Concesionarios Salesianos✞🚗</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/crearVehiculo">Añadir vehiculo a catalogo<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="card shadow mt-4">
            <div class="card-body">
                <h2 class="mb-4">Catálogo📖</h2>
                <form action="/acortar" method="POST" class="form-inline mb-4">
                    <div class="input-group w-100">
                        <input type="url" class="form-control" id="urlInput" name="origUrl" placeholder="Escriba el vehiculo a buscar...">
                        <div class="input-group-append">
                            <select class="custom-select">
                                <option value="opcion1">Opción 1</option>
                                <option value="opcion2">Opción 2</option>
                            </select>
                            <button type="submit" class="btn btn-primary">Buscar</button>
                        </div>
                    </div>
                </form>
                <div class="card shadow">
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>NºBastidor</th>
                                    <th>Marca</th>
                                    <th>Modelo</th>
                                    <th>Tipo</th>
                                    <th class="text-center">Actualizar/Eliminar</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for vehiculo in vehiculos %}
                                    <tr class="table-expandable" data-toggle="collapse" data-target="#row{{ vehiculo.idVehiculo }}">
                                        <td>{{ vehiculo.idVehiculo }}</td>
                                        <td>{{ vehiculo.idmarca.nombre }}</td>
                                        <td>{{ vehiculo.idmodelo.nombre_modelo }}</td>
                                        <td>{{ vehiculo.idmodelo.tipo_motor }}</td>
                                        <td class="text-center">
                                            <button type="button" class="btn btn-info btn-sm">&#10034;</button>
                                            <button type="button" class="btn btn-danger ml-2 btn-sm">&#10006;</button>
                                        </td>
                                    </tr>
                                    <tr id="row{{ vehiculo.idVehiculo }}" class="collapse">
                                        <td colspan="5">
                                            <table class="table table-striped nested-table">
                                                <thead>
                                                    <tr>
                                                        <th>NºPuertas</th>
                                                        <th>Motor</th>
                                                        <th>Color</th>
                                                        <th>Precio</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>{{ vehiculo.idmodelo.numero_puertas }}</td>
                                                        <td>{{ vehiculo.idmodelo.tipo_motor }}</td>
                                                        <td>{{ vehiculo.color }}</td>
                                                        <td>{{ vehiculo.precio }}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer fixed-bottom bg-dark text-white py-2">
        <div class="container text-center">
            <span>🚗✞Concesionarios Salesianos✞🚗 | Todos los derechos reservados © 2024</span>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
